body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  animation: bookcolor 20s ease infinite;
}
.book-box{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 30px 60px 0 white;
  padding: 50px;
  margin:auto;
  margin-top: 30px;

}

::placeholder{
  color: black;
}

.btn{
  width: 100%;
  background: white;
  border: 2px solid white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  animation: color-change 20s ease infinite;
}
.btn:hover{
  box-shadow: 0 0 10px 4px;
}

option[value=""][disabled] {
  display: none;
}
#seatsBlock{
  color: white;
  float: right;
}
.screen
{
  width:100%;
  height:20px;
  background:#000000;
  color:white;
  line-height:20px;
  font-size:15px;
  text-align: center;
}

.home{
  border: 0.1px solid ;
  width: 100%;
  padding: 5px;
  transition: 0.5s;
  background: transparent;
  animation: color-change 20s ease infinite;
}
.home:hover{
  box-shadow: 0 0 10px 4px;
  color: white;

}

@keyframes color-change {
    0% { color: white; }
    25% {color: black;}
    50% { color: white; }
    75% {color: black;}
    100% { color: white; }
}

@keyframes bookcolor {
    0% {
        background-color : #000000;
    }
    25% {
        background-color :#730c04;
    }
    50% {
        background-color :#000000;
    }
    75% {
        background-color :#730c04;
    }

    100% {
        background-color :#000000;
    }

}
